$white: #fff;
$fontFam: Lato,'Helvetica Neue',"BPG WEB 001 Caps",Arial,Helvetica,sans-serif;
$fontSize: 1.2rem;

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;

// Extra Large tablets and desktops
$screen-xxl: 1400px;