@import 'variables';

header.header {
  position: relative;
  top: 0;
  z-index: 90;
  left: 0;
  padding: 1rem 0rem;
  width: 100%;
  background: -moz-linear-gradient(-29deg,#c10f41 0,#4a3677 100%);
  background: -ms-linear-gradient(-29deg,#c10f41 0,#4a3677 100%);
  background: -webkit-linear-gradient(-29deg,#c10f41 0,#4a3677 100%);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  &.fixed {
    padding: 0.2rem 0;
    box-shadow: 0 0 20px -4px rgba(0,0,0,.8);
  }
  .header-menu {
    background: transparent;
    padding: 0 3rem;

    .item {
      display: inline-block;
    }
    .item a {
      cursor: pointer;
      opacity: .95;
      color: $white;
      font-family: $fontFam;
      font-weight: bold;
      font-size: 1.2rem;
      border-radius: 20px;
      padding: 5px 10px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;

      &:hover, &.active {
        background: $white;
        color: #bf095d !important
      }
    }

    i {
      color: $white;
    }
  }
}