@import 'variables';
@import 'mixins';

section.hero {
    height: 200vh;
    padding: 3rem;

    @include md {
        padding: 1rem 0rem;

        .ui.segment {
            border-radius: 0;
        }
    }
}