.sk-cube-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: -moz-linear-gradient(-29deg,#c10f41 0,#233b88 100%);
    background: -ms-linear-gradient(-29deg,#c10f41 0,#233b88 100%);
    background: -webkit-linear-gradient(-29deg,#c10f41 0,#233b88 100%);
}
.sk-cube-grid {
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    left: 50%;
  }

  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #cecece;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }

  $color-1: #00a7ce;
  $color-2: #72c45a;
  $color-3: #f963a3;
  $color-4: #ffd15b;
  
  $ball-size: 20px;
  $jump: .75em;
  $diam: 2 * $jump;
  
  $duration: 1.2s;
  
  .mini-loader {
    position: relative;
    width: 0;
    height: 0;
    margin: 4em auto;
    animation: anim-rotate $duration infinite ease;
    
    /* Variations */
    //animation: anim-rotate @duration infinite linear;
    //animation: anim-rotate @duration infinite cubic-bezier(.1,.3,.3,.1);
    //animation: anim-rotate @duration linear infinite alternate;
    //animation: anim-rotate 0 infinite;
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: $ball-size;
      height: $ball-size;
      top: 50%;
      left: 50%;
      margin-top: -$ball-size/2;
      margin-left: -$ball-size/2;
      border-radius: $ball-size/2;
      opacity: .9;
    }
    
    &::before {
      background: $color-1;
      transform: translate(-$jump, -$jump) 
                 scale(1);
      box-shadow: $diam $diam 0 $color-2;
      animation: anim-1-2 $duration infinite ease;
    }
    
    &:after {
      background: $color-3;
      transform: translate($jump, -$jump) 
                 scale(1);
      box-shadow: -$diam $diam 0 $color-4;
      animation: anim-3-4 $duration infinite ease;
    }
  }
  
  @keyframes anim-1-2 {
    50% {
      transform: scale(1.3) translate(0, 0);
      box-shadow: 0 0 0 $color-2;
      opacity: .8;
    }
  }
  
  @keyframes anim-3-4 {
    50% {
      transform: scale(1.3) translate(0, 0);
      box-shadow: 0 0 0 $color-4;
      opacity: .8;
    }
  }
  
  @keyframes anim-rotate {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    100% { transform: rotate(720deg); }
  }