<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=0.5, maximum-scale=2.0">
    <meta name="theme-color" content="#4e3475">
    <link rel="manifest" href="mfest.json">
    <link rel="shortcut icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    <!-- <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '2055932434639401',
          status     : false,
          cookie     : false,
          xfbml      : false,
          version    : 'v2.12'
        });
        FB.AppEvents.logPageView();
      };
      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script> -->
    <noscript>PLEASE ENABLE JAVASCRIPT</noscript>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    window.main();
  </script>
</html>